<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" metadata-complete="false" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Web Application</display-name>
  
  
  <servlet>
  	<servlet-name>usersDisplay</servlet-name>
  	<servlet-class>ensias.teams.servlets.UsersDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
		 <servlet-name>usersDisplay</servlet-name>
		 <url-pattern>/usersDisplay</url-pattern>
	 </servlet-mapping>
  
  
  <listener>
    <listener-class>ensias.teams.config.InitialisationDaoFactory</listener-class>
	</listener>

</web-app>
